.product-card {
  width: 480px;
  box-sizing: border-box;
  height: 360px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8fb;
  border-radius: 6px;
}

.product-image img {
  width: 460px;
  height: 215px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 4px;
}

@media (max-width: 640px) {
  .product-card {
    width: 100%;
    max-width: 460px;
  }

  .product-image img {
    width: 90%;
    height: auto;
    max-width: 460px;
  }
}

.product-card h3 {
  font-size: 1rem;
  margin: 0.5rem 0 0.3rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-weight: bold;
  color: #28a745;
  margin-bottom: 0.5rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start; /* prevents stretching */
}
.btn {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: #555;
  transform: translateY(-1px);
}

.add-btn {
  background-color: #2ecc71;
  width: 100%
}

.add-btn:hover {
  background-color: #27ae60;
}

.view-btn {
  width: 30%;
  align-self: center;
}

.add-btn:hover {
  background-color: #27ae60;
}

